* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

#container {
    background: url("./img/background.png") no-repeat center;
    background-size: cover;
    position: relative;
}

svg {
    display: block;
    margin: auto;
}

svg text {
    font: 10px Arial, Georgia, sans-serif;
    text-anchor: middle;
}

svg path {
    cursor: pointer;
}

.inner-image {
    cursor: pointer;
}

image {
    cursor: inherit;
    z-index: 100;
}